body {
	max-width: 1200px;
	margin: 0 auto;
	font-family: Arial, sans-serif; 
	color: white;
}
header {
	text-align: center;
	background-image: url('onlinepoker.jpg' );
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	color: rgb(238, 201, 0);
	font-family: 'Lobster Two', cursive;
	font-size: 6em;
	text-shadow: 6px 2px 2px #f00;
	margin: 14px auto;
}
h3 {
	color: #ffd700;
	font-size: 2.2em;
	padding-top: 12px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
nav {
	background: rgba(255,255,255,.5);
	padding: 0 8px;
	height: 15%;
}
a {
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
	padding: 8px;
	color: #fff;
	display: inline-block;
	padding-right: 20px;
	padding-left: 10px;
	float: left;
}
a:hover {
	background: rgba(0, 0, 0,.75);
	text-shadow: 4px 4px 1.2px black;
	box-shadow: -8px 0 black;
}

footer {
	text-align: center;
	background: rgba(0,18,60,.9);
	color: white;
	font-size: 1.4em;
	padding: 6px;
	bottom: 0;
}
.dev {
	color: #ff0000;
}

p {
	font-size: 18px;
}

/* This section is for the game or other 'per page styles'*/

	main { 
		text-align: center;
		background-color: rgb(0, 118, 174);
		background-image: url('spades.png');
		background-position: cover; 
		background-size: 10%;
	}
	.bot {
		padding: 0 auto;
	}
	.avatar {
		width: 60px;
		height: 60px;
		display: block;
		margin: 0 auto;
	}
	
	.name {
		color: #fa0000;
		background: rgba(0,0,0,.65);
		padding: 4px;
		width: 52px;
		margin: 0 auto;
		border-radius: 8px;
	}

	.board {
		background: rgb(1, 127, 50);
		position: relative;
		width: 900px;
		height: 700px;
		margin: 0 auto;
		border-radius: 325px;
		border: 12px solid #FFFA48;
	}
	.card, .flop-card {
		height: 135px;
		width: 85px;
		background: url('leaf_pattern.jpg');
		border: 2px solid black;
		display: inline-block;
		margin: 0 -25px;
	}
	.dealer {
		position: absolute;
		top: 12px;
		left: 415px;	
	}
	.flop-card {
		margin: 0;
	}
	.user-section {
		position: absolute;
		bottom: 30px;
		left: 415px;
	}
	.flop {
		position: absolute;
		top: 243px;
		left: 222px;
	}
	.bet-amount {
		background-color: rgba(0,0,0,.6);
		padding: 2px;
		border-radius: 5px;
		margin: 0 0 2px 0;
		opacity: 0;
	}
	.pot {
		background-color: rgba(0,0,0,.6);
		position: absolute;
		bottom: 40%;
		left: 45%;
		padding: 8px;
		border-radius: 5px;
	}

	.control-interface {
		position: absolute;
		bottom: 0;
		right: 33%;
		display: inline-block;
	}
	button {
		padding: 14px;
		background: rgba(99,0,0,.95);
		border: none;
		font-size: 1.2em;
		font-weight: 700;
		color: #fff;
		border-radius: 2px;		
	}
	.bets {
	display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	
	.bets a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	}
	.show {
		display: block;
	}
